.Genre{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    color: white;
    border:2px solid red;
    width: 5vw;
    height: 5vh;
}
.Genre_Box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}